$color-dark: #1e2022;
$color-main: #52616a;
$color-sub: #c9d6de;
$color-light: #f0f5f9;
$color-special: #0099CC;
$font-family:  'Avenir', Arial,'微軟正黑體',Helvetica, sans-serif;

$pd: 40px 60px 60px 30px; /* content*/
$pd-sm: 20px 20px 30px 20px; /* mobile*/
$side-bar-width: 240px;
$tree-width: 230px;
$max-view: 700px;