.article{
  ul {
    padding-inline-start: 2em;
  }
  blockquote {
    background-color: #eeeeee;
    color: inherit;
    border-left: 3px solid gray;
    font-style: italic;
    margin: 0;
    border-radius: 2px;
    p {
      padding: 1em 1em 1em 1.5em;
    }
  }
  a {
    color: blueviolet;
  }
  p{
    padding-left: 10px;
  }
  img {
    max-width: 100%;
  }
}
h1 {
  font-size: 2.0rem;
  color: black;
}
h2 {
  font-size: 1.7rem;
  color: black;
}
h3 {
  font-size: 1.4rem;
  color: black;
}
h4 {
  font-size: 1.2rem;
  color: black;
}
h5 {
  font-size: 1rem;
  color: black;
}
h6 {
  font-size: 0.8rem;
  color: black;
}